header {
    background: #ff5e01;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 5rem;
}

.logo {
    width: 8rem;
    height: 6rem;
}

.header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ff5e01;
}

.header_nav li {
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
}
.header_nav li:hover {
    color: white;
    background: #b60000;
}
