* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 40px;
  background: #f4f4f4;

  justify-content: center;
  align-items: center;
  }
 


.quiz-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.quiz-card {
  background: white;
  padding: 30px;
  width: 45%;
  text-align: center;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.quiz-card h1 {
  font-size: 48px;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center
}

.quiz-card h2 {
  margin: 10px 0 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz-card img {
  width: 100%;
  max-width: 180px;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 5px solid black;
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto 15px;
  align-items: center;
  justify-content: center;
}

.input-wrapper input {
  border: none;
  padding: 12px 15px;
  flex: 1;
  font-size: 15px;
  outline: none;
  align-items: center;
  justify-content: center;
}

.input-wrapper button {
  border: none;
  background: white;
  font-size: 50px;
  padding: 0 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.correct {
  color: green;
  font-weight: bold;
  font-size: 50px;
}

.wrong {
  color: red;
  font-weight: bold;
  font-size: 50px;
}
.correct, .wrong {
  display: none;
}

#victory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.75); /* dark overlay */
  display: none;

  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.victory-message {
  background: white;
  padding: 60px 80px;
  border-radius: 25px;

  font-size: 64px;
  font-weight: bold;
  color: gold;
  text-align: center;

  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

