body {
    font-family: Arial, sans-serif;
    background-color: orange;

    text-align: center;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.game-box {
    position: relative;
    background: white;
    width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
    height: auto;
}

#animalWord {
    font-size: 38px;
    letter-spacing: 8px;
}

input {
    font-size: 20px;
    width: 50px;
    text-align: center;
}

button {
    font-size: 16px;
    padding: 6px 15px;
    cursor: pointer;
}

#result {
    font-size: 18px;
    margin-top: 10px;
}

#nextBtn {
    display: none;
}

#answer {
    width: 60px;
    height: 60px;
    font-size: 32px;
    text-align: center;

    border: 3px solid #4caf50;
    border-radius: 12px;
    outline: none;
}
#answer:focus {
    border-color: #ff9800;
    box-shadow: 0 0 8px rgba(255, 152, 0, 0.6);
}

.back-arrow {
    position: fixed;
    top: 15px;
    left: 15px;

    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;

    color: #333;

    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.back-arrow:hover {
    color: red;
}

.congrats {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;

    display: none; /*hidden at the start*/
    align-items: center;
    justify-content: center;

    font-size: 36px;
    font-weight: bold;
    color: #4caf50;
    text-align: center;
}


.ready_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ready {
    background-color: rgb(33, 218, 33);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.ready:hover {
    background-color: rgb(20, 148, 20);
}

.ready:active {
    transition: all 0.1s ease-in-out;
    background-color: rgb(33, 218, 33);
    transform: scale(0.9);
}

.countdown {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
