.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.item_name {
    cursor: grab;
    background: orange;
    text-align: center;
}

.box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /* hoặc cover tuỳ bạn */
    pointer-events: none; /* để drop không bị bắt vào img */
}

.box .item_name {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px 6px;
    border-radius: 6px;
}

.ready_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ready {
    background-color: rgb(33, 218, 33);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.ready:hover {
    background-color: rgb(20, 148, 20);
}

.ready:active {
    transition: all 0.1s ease-in-out;
    background-color: rgb(33, 218, 33);
    transform: scale(0.9);
}

.lose {
    color: red;
}

.win {
    color: rgb(33, 218, 33);
}

.timerContainer {
    position: absolute;
    top: 9%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.timerContainer button {
    width: 3rem;
    background: orange;
    color: white;
}

.countdown {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.timerIcon {
    width: 3rem;
}
